* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url(../img/shoji.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.movement.img {
  height: 10em;
}

.movement.name {
  font-size: 50px;
}

.bubble {
  background: white;
  border: 2px solid black;
  height: 500px;
  width: 500px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#count {
  font-size: 2.2em;
  text-shadow: 1px 1px 2px white;
}

.wrong {
  border: 2px solid red;
  color: white;
  background-color: black;
  height: 500px;
  width: 500px;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.back {
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
  align-content: flex-end;
}

#end-screen.hidden {
  position: absolute;
  visibility: hidden;
}

#end-screen.active {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(226, 17, 17);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  height: 100%;
  padding: 27px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn.try-again {
  background-color: white;
  color: black;
  border: 2px solid red;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 40px;
  padding: 5px;
  font-size: 15px;
  align-self: center;
}

.back {
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: solid 1px white;
  height: 80px;
  width: 80px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}

.btn.to-main-page:hover {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.8);
}

.hard:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.chosen-hard {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.medium:hover {
  color: rgb(114, 71, 23);
  background-color: white;
  border: 3px solid rgb(114, 71, 23);
}

.chosen-medium {
  color: rgb(114, 71, 23);
  background-color: white;
  border: 3px solid rgb(114, 71, 23);
}

.easy:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.chosen-easy {
  background-color: white;
  color: red;
  border: 2px solid red;
}

/*RESPONSIVENESS*/
@media (max-width: 750px) {
  html {
    font-size: 10px;
    height: 100%;
  }

  .bubble {
    /* font-size: 5px; */
    height: 32em;
    width: 32em;
    margin: 3em;
    padding: 10px;
  }

  .movement.name {
    font-size: 2em;
  }

  .btn.to-main-page {
    margin: 2.5em 0;
  }

  #count {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px white;
  }

  #end-screen.active {
    font-size: 2em;
    height: 80%;
    padding: 3px;
    margin-top: 10px;
  }
}

/*ANIMATIONS*/

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-16 15:29:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
